.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.about__item--blue {
  background-color: @color-blue;
  display: flex;
  flex-direction: column;
}

.about__item-city {
  padding: 54px 18px 40px 18px;
  text-align: center;
}

.about__item-bridge {
  padding: 37px 18px;
  text-align: center;
}

.about__title {
  @include: @font;
  // font-weight: @weight-700;
  // font-size: @size-18;
  // line-height: @line-heigth-26;
  // color: @color-white;
  margin-top: 0;
  margin-bottom: 49px;
}

.about__description {
  margin: 0;
  color: @color-white;
}

.about__image {
  display: block;
}

