.button {
  font-family: @main-font;
  color: @color-white;
  font-weight: @weight-700;
  font-size: @size-18;
  line-height: @line-height-26;
  background-color: @color-blue;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}
