.catalog__wrapper {
  width: 87%;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 66px;
    padding-bottom: 66px;
    width: 84%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    padding-bottom: 68px;
    width: 100%;
  }
}

.catalog__header {
  width: 100%;
  max-width: 485px;
  margin: 0 auto;
  padding-bottom: 14px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: @input-color;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 89px;
  }
}

.catalog__header-title {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    color: @color-black;
  }
}

.catalog__header-description {
  margin: 0;
}

