.copyright {
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover .copyright__text {
    color: @light-blue;
  }

  &:hover .copyright__icon {
    fill: @light-blue;
  }

  &:active .copyright__text {
    color: @grey;
  }

  &:active .copyright__icon {
    fill: @grey;
  }

}

.copyright__text {
  margin-top: 7px;
  margin-bottom: 7px;
  color: @color-black;
}

.copyright__link {
  display: block;
  width: 28px;
  height: 35px;
}
