.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.form__fieldset {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  border: none;
}

.form__title {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
}

.form-user__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.form-user__control {
  display: flex;
  flex-direction: column;
}

.form-user__control-title {
  padding-left: 16px;
  margin: 0;
}

.form-user__control-input {
  width: 280px;
  height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  background-color: @color-grey;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-contacts__control {
  display: flex;
  flex-direction: column;
}

.form-contacts__control-title {
  padding-left: 16px;
  margin: 0;
}

.form-contacts__input {
  width: 280px;
  height: 58px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  background-color: @color-grey;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
}

.form-impression__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-impression__control {
  display: flex;
  align-items: center;
}

.form-impression__input {
  margin: 0;
}

.form-impression__inpression-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
  text-transform: none;
  color: @color-black;
}

.form-attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-attractions__control {
  display: flex;
  align-items: center;
}

.form-attractions__input {
  margin: 0;
}

.form-attractions__attractions-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  padding-left: 16px;
  text-transform: none;
}

.form-review {
  margin: 0;
  border: none;
  padding-bottom: 56px;
}

.form-review__input {
  width: 279px;
  height: 150px;
  background-color: @color-grey;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  padding: 16px;
  box-sizing: border-box;
}


.form__wrapper-button {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: block;
  width: 280px;
  height: 58px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  box-sizing: border-box;
}

.form__text {
  margin: 0;
  margin-left: auto;
}

.modal-error {
  text-align: center;
  padding: 45px 42px 35px 42px;
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  text-transform: uppercase;
}

.modal__error-description {
  margin: 0;
  margin-bottom: 28px;
}

.modal__error-button {
  width: 180px;
  height: 58px;
  padding: 0;
  background-color: @color-blue;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.modal-success {
  text-align: center;
  padding: 44px 20px 34px 20px;
}

.modal__success-description {
  margin: 0;
}

.modal__success-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @color-grey;
  text-align: center;
}
