.form-contacts {
  width: 100%;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 43%;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    width: 48%;
  }

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: @input-color;
      bottom: -35px;
      left: calc(100% - 110%);
    }
  }
}

.form-contacts__title {
  text-align: center;
  white-space: nowrap;
}

.form-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: @tablet-width) {
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 82%;
  }
}

.form-contacts__control {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @desktop-width) {
    padding-left: 10px;
  }
}

.form-contacts__control-title {
  padding-left: 16px;
  margin: 0;
}

.form-contacts__input {
  width: 100%;
  height: 58px;
  border: 4px solid @color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  background-color: @color-grey;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
  outline: none;

  &:hover {
    background-color: @input-color;
  }

  &:focus {
    background-color: @color-white;
    border: 4px solid @input-color;
  }
}

.form-contacts__input-phone {
  position: absolute;
  width: 57px;
  height: 50px;
  background-color: @bg-gray;
  top: 25px;
  right: 4px;
  padding: 11px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    right: 0;
    top: 23px;
  }
}

.form-contacts__input-email {
  position: absolute;
  width: 57px;
  height: 50px;
  background-color: @bg-gray;
  top: 25px;
  right: 4px;
  padding: 19px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    right: 0;
    top: 23px;
  }
}

.form-contacts__icon-email {
  width: 23px;
  height: 21px;
}

.form-contacts__icon-phone {
  width: 28px;
  height: 43px;
}
