.form-impression__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-impression__control {
  display: flex;
  align-items: center;
}

.form-impression__input {
  margin: 0;
}

.form-impression__inpression-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
  text-transform: none;
  color: @color-black;
}
