.form-user {
  width: 100%;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: @devider-color;
      bottom: 0;
      left: calc(100% - 110%);
    }
  }

  @media (min-width: @tablet-width) {
    width: 43%;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.form-user__title {
  text-align: center;
}

.form-user__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-user__control {
  display: flex;
  flex-direction: column;
}

.form-user__control-title {
  padding-left: 16px;
  margin: 0;
}

.form-user__control-input {
  width: 100%;
  height: 58px;
  border: 4px solid @color-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  background-color: @color-grey;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
  outline: none;


  &:hover {
    background-color: @input-color;
  }

  &:focus {
    background-color: @color-white;
    border: 4px solid @input-color;
  }
}
