.form-impression {
  width: 100%;
  flex-grow: 1;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: @input-color;
      bottom: 0;
      left: calc(100% - 110%);
    }
  }
}

.form-impression__title {
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 18%;
      height: 1px;
      background-color: @devider-color;
      top: 50%;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &::after,
    &::before {
      width: 30%;
    }
  }
}

.form-impression__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: @tablet-width) {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-impression__control {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    cursor: pointer;
  }

  &:hover .form-impression__mark {
    background-color: @input-color;
  }

  &:focus-within .form-impression__mark {
    background-color: @grey;
    opacity: 0.3;
  }
}

.form-impression__input {
  margin: 0;
}

.form-impression__inpression-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: @color-black;
}

.form-impression__mark {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  background-color: @color-grey;
  margin: 0;
  cursor: pointer;
}

.form-impression__input[type="radio"]:checked + .form-impression__mark::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  top: 15px;
  left: 15px;
  background-color: @color-dark-grey;
}
