.form-review {
  width: 100%;
  margin: 0;
  border: none;
  padding-bottom: 56px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 48px;
  }
}

.form-review__title {
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 18%;
      height: 1px;
      background-color: @grey;
      top: 50%;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &::after,
    &::before {
      width: 30%;
    }
  }
}

.form-review__input {
  width: 100%;
  max-height: 150px;
  background-color: @color-grey;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  resize: none;
  color: @text-color;
  outline: none;

  @media (min-width: @tablet-width) {
    max-height: 160px;
  }


}
