.form-attractions {
  width: 100%;
  flex-grow: 1;
}

.form-attractions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: @tablet-width) {
    width: 74%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.form-attractions__control {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover .form-attractions__mark {
    background-color: @input-color;
  }

  &:focus-within .form-attractions__mark {
    opacity: 0.3;
  }
}

.form-attractions__input {
  margin: 0;
}

.form-attractions__attractions-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @color-black;
  text-transform: none;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.form-attractions__mark {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: @color-grey;
  margin: 0;
  cursor: pointer;
}

.form-attractions__input[type="checkbox"]:checked + .form-attractions__mark::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 3px;
  top: 50%;
  left: 24.3%;
  background-color: @color-dark-grey;
  border-radius: 1px;
  transform: rotate(45deg);
}

.form-attractions__input[type="checkbox"]:checked + .form-attractions__mark::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  top: 42%;
  left: 40%;
  background-color: @color-dark-grey;
  border-radius: 1px;
  transform: rotate(-45deg);
}
