.hero {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: @color-grey;
  background-image: url("../img/devider-mobile.svg"), url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center bottom, center;
}

.hero__image {
  display: block;
  margin: 0 auto;
}
