.hotel-search__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 29px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 60%;
    max-width: 458px;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 66px;
  }
}

.hotel-search__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.hotel-search__description {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }
}

.hotel-search__button {
  padding: 0;
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;

  &:hover {
    background-color: @light-blue;
  }

  &:active {
    background-color: @dark-blue;
    color: @color-blue;
  }

  &:focus {
    outline: 1px solid @dark-blue;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

