.page__body {
  font-family: @main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: @color-dark-grey;
  background-color: @color-grey;
  margin: 0;
  text-transform: uppercase;
}

.page__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
    color: @color-dark-grey;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    background-color: @color-white;
  }
}
