.presentation__wrapper {
  width: 87%;
  margin: 0 auto;
  padding-top: 17px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 42px;
    width: 84%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 84px;
  }
}


.presentation__header {
  width: 100%;
  max-width: 455px;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 81px;
  }
}

.presentation__header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.presentation__header-description {
  margin: 0;
}

.presentation__video-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

.presentation__video-button {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 49%;
  left: 42%;
  transform: translateY(-50%);
  width: 48px;
  height: 50px;

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 46%;
  }

  @media (min-width: @desktop-width) {
    left: 47%;
  }

  &:hover {
    cursor: pointer;
  }

  .video-button {
    fill: @color-white;
    opacity: 0.7;
    width: 48px;
    height: 54px;

    &:hover {
      fill: @color-white;
      opacity: 1;
    }
  }
}

.presentation__video-image {
  width: 100%;
  height: auto;
  display: block;
}
