.profits__wrapper {
  width: 88%;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.profits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.profits__item {
  position: relative;
}

.profits__item-wrapper {
  padding-left: 47px;

  @media (min-width: @tablet-width) {
    padding: 158px 27px 60px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding: 170px 50px 67px 50px;
    text-align: center;
  }
}

.profits__item-house::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/adventages-background-house.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 79px;
    height: 87px;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 80px 74px;
  }

  @media (min-width: @desktop-width) {
    width: 87px;
    height: 87px;
    top: 67px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 80px 74px;
  }
}

.profits__item-eat::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 0;
  background-image: url("../img/adventages-background-eat.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 68px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-size: 80px 68px;
  }

  @media (min-width: @desktop-width) {
    width: 83px;
    height: 73px;
    top: 71px;
    left: 47%;
    transform: translateX(-50%);
    background-size: 75px 70px;
  }
}

.profits__item-souvenir::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: 0;
  background-image: url("../img/adventages-background-souvenir.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 74px;
    top: 62px;
    left: 53%;
    transform: translateX(-50%);
    background-size: 67px 74px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 82px;
    top: 67px;
    left: 46%;
    transform: translateX(-50%);
    background-size: 78px 76px;
  }
}

.profits__title {
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 23px;
    font-size: 21px;
  }
}

.profits__description {
  margin: 0;
}
