.profits__wrapper {
  padding: 23px 18px 46px 18px;
}

.profits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profits__item {
  padding-left: 47px;
}

.profits__item-wrapper {
  padding-top: 8px;
}

.profits__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
}

.profits__description {
  margin: 0;
}
