.review__wrapper {
  padding-top: 36px;
  padding-bottom: 28px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.review__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
}

.review__description {
  margin: 0;
}
