@color-blue: #81b3d2;
@light-blue: #669EC0;
@dark-blue: #5496BD;
@color-grey: #f2f2f2;
@color-black: #000000;
@color-white: #ffffff;
@color-dark-grey: #333333;
@light-grey: #eeeeee;
@shadow-color: #01010133;
@color-brown: #766357;
@main-font: "PT Sans", sans-serif;
@tablet-width: 768px;
@desktop-width: 1200px;
@bg-color: #0000004d;
@grey: #B3B3B3;
@input-color: #E5E5E5;
